/* base.css */
body{
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}
main{
    padding: 2.5rem 0 0;
    max-width: 1360px;
    margin: 0 auto;
}
p{
    font-family: var(--fonte-secundaria);
}
.btn{
    font-family: var(--fonte-botao);
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    padding: 10px 20px;
    transition: all 0.4s ease-in-out;
}
.btn-outline{
    border: 2px solid var(--cor-principal);
    color: var(--cor-principal);
    background-color: transparent;
    line-height: 25px;
}
.btn-filled{
    background-color: var(--cor-principal);
    color: var(--cor-style);
}
.btn:hover{
    background-color: var(--cor-style);
    color: var(--cor-principal);
    border: 2px solid var(--cor-style);
}