@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oxanium:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');


:root{
    --fonte-principal: 'Goldman', sans-serif;
    --fonte-botao: 'Oxanium', sans-serif;
    --fonte-secundaria: 'Space Grotesk', sans-serif;
   
    /* cor da fonte */
    --cor-principal:#f5f5f5;
    --cor-style: #7c3aed;


    /* background */
    --cor-fundo: #040304;
    --cor-nav: #141414;
}
